body {
    margin: 0;
    background: #1F2937;
    color: white;
    font-family:'Inter';
}

h1 {
    font-family: 'Karla';
    font-size: 40px;
    margin-bottom: 0px;
}

p {
    font-size: 20px;
    color: #D5D4D8;
    margin-bottom: 0px;
    margin-top: 10px;
}

button {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    background: #10B981;
    border-radius: 6px;
    border: 0px;
    margin-top: 51px;
}

hr {
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;
    margin-top: 35px;

    border: 1px solid #2F3E53;
}

#first-PW, #second-PW {
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;

    text-align: center;

    color: #55F991;
}

.containerPW {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    column-gap: 24px;
}

.containerMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}